@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;300;400&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}
/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}
body{
  font-family: 'Work Sans', sans-serif;
  font-size: 14px;
  width: 100%;
  height: 100%;
}
.wrapper{
  position: absolute;
  left: 0;
  right: 0;
  top:50%;
  transform: translate(0,-50%);
  max-width: 800px;
  margin: 0 auto;
  padding: 60.48px 67px 59px 68px;
  display: flex;
  background-color: #F2F2F2;
  justify-content: center;
}
.sidebar{
    width: 137.2px;
    height: 480px;
    background-color: #5A61ED;
    display: block;
    position: relative;
}
.sidebar__title{
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  position: absolute;
  top:356.5px;
  left: 20.5px;
  font-size: 49px;
  font-weight: 400;
  line-height: 63.41px;
  color: 
  #FFFFFF;
  font-family: 'PT Sans', sans-serif;
  white-space:nowrap;
  }
  .main{
    width: 527.8px;
    height:480px;
    background-color: white;
  }

  
  /*main*/
  .main{
    position: relative;
    padding-top: 38.52px;
    padding-left: 20.8px;
    font-weight: 200;
    
  }
  form{
    display: flex;
    position: relative;
    z-index: 3;
    flex-wrap: wrap;
  }
  @media(max-width:771px){
    .main{
    height:680px;
    }
    .wrapper{
      top:0;
      transform: none;
    }
    .sidebar{
     
      height: 680px;
      background-color: #5A61ED;
      display: block;
      position: relative;
  }
  .sidebar__title{
    top:500.5px;
  }
  .sidebar__title{
    display: none;
  }
  }
  
  .main__header{
    font-size: 22px;
    line-height: 25.78px;
    letter-spacing: -0.46px;
    color: #111111;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .main__text{
    line-height: 16.41px;
    color: #111111;
    margin-bottom: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .text-field__input{
    display: block;
    width: 234.5px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0.7px solid #F2F2F2;
    height: 27.2px;
    padding-top: 4.9px;
    padding-bottom: 6.3px;
    color: #111111;
    opacity: 1;
    background: rgba(255,245,215,0);
  }
input::placeholder {
  color: #111111 !important;
}
.text-field__label{
  color:#7C7C7C;
  font-size: 12px;
  line-height: 14.06px;
}
.nation{
  display: block;
  margin-top: 16.8px;
}
.field__day{
  width: 56px;
  padding-left: 0;
  height: 26.9px;
  border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0.7px solid #F2F2F2;
}
.field__mounth{
  margin-left: 5.8px;
  width: 91px;
  height: 26.9px;
  border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0.7px solid #F2F2F2;
}
.year{
  margin-left: 5.8px;
  width: 67.67px;
  height: 26.9px;
  border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0.7px solid #F2F2F2;
  opacity: 1;
  background: rgba(255,245,215,0);
}
.birdth{
  display: block;
  margin-top: 16.3px;
}

/*-----password---*/
.pass{
  display: block;
  margin-top: 17.4px;
}
.logger{
  margin-top: 107.7px;
    font-weight: 200;
    font-size: 13px;
}
.logger a{
  color:#5A61ED
}
/*-------------left-side------------*/
.left__side{
margin-left: 15.3px;
}

.label-email{
  display: block;
  margin-top: 16.37px;
}
.input__email{
  height: 26.92px;
  width: 234.5px;
  border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 0.7px solid #F2F2F2;
    position: absolute;
    background-color: white;
    opacity: 1;
    background: rgba(255,245,215,0);
}

.emailInput{
  position: relative;
  
}

.img__done{
  position: absolute ;
  left: 225px;
  opacity: 0;
}

.radioInput{
  display: block;
  position: relative;
 
  top:39px
}
.title__radio{
  margin-bottom: 5.3px;
 
}
/*----input type=radio=======*/
input[type="radio"] {
  /* remove standard background appearance */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* create custom radiobutton appearance */
  display: inline-block;
  width: 12px;
  height: 12px;
  padding: 3px;
  /* background-color only for content */
  background-clip: content-box;
  border: 0.7px solid #5A61ED;
  background-color: white;
  border-radius: 50%;
}

/* appearance for checked radiobutton */
input[type="radio"]:checked {
  background-color: 
  #5A61ED;
}
.radio1{
  font-weight: 400;
}
.radio2{
  font-weight: 400;
}
/* optional styles, I'm using this for centering radiobuttons */
.flex {
  display: flex;
  align-items: center;
}
.confirm__password{
  position: relative;
  top:47.3px
}
button{
  position: relative;
  top:98.4px;
  border: 0;
  width: 154px;
  height: 32px;
  background-color: #5A61ED;
  color:white;
  margin-left: 184px;
}
.chel{
  position: absolute;
  top:125.52px;
  left: 220px;
  z-index: 0;
  stroke-dashoffset: 0;
  stroke-dashoffset: 1000;
  animation: ani 5s ease;
}
@media(max-width:771px) {
  .chel{
    display: none;
  }
  button{
    margin-left: 100px;
  }
  .left__side {
    margin-left: 0;
  }
}
@keyframes ani{
  0%{
    stroke-dashoffset: 0;
  }
  50%{}
  100%{
    stroke-dashoffset: 1100;
  }
}
.q{
  display: flex;
}
@media(max-width:340px){
  .left__side {
    margin-left: 20px;
  }
  .ride__side{
    margin-left: 20px;
  }
  .main__header{
    text-align: center;
  }
  .main__text{
    text-align: center;
  }
  .logger {
    margin-left: 20px;
  }
  button{
    margin-left: 30px;
    margin-right: 20px;
  }
  .wrapper{
    padding: 0;
  }
}